@import url(e:\Git\youtube-concept\css\normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 70px 20px 32px;
  margin-bottom: 30px;
}

body header .button {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
}

body header .button .menu-line {
  display: block;
  background: #1F2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}

body header .logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  display: block;
  height: 25px;
  width: 116px;
  margin-right: 59px;
}

body header .search {
  background: #EBEBEB;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
}

body header .search #input_search {
  background: transparent;
  border: none;
  outline: none;
  padding: 12px 23px;
  line-height: 20px;
  width: 100%;
  font-family: Mulish;
}

body header .search .button_search {
  height: 19px;
  width: 19px;
  border: none;
  background: transparent;
  padding: 0px;
  cursor: pointer;
}

body header .search .button_search .icon_search {
  fill: #000;
}

body header .rightmenu {
  margin-left: auto;
}

body header .rightmenu .icons_link {
  text-decoration: none;
  opacity: 0.24;
}

body header .rightmenu .icons_link:hover {
  opacity: 0.7;
}

body header .rightmenu .icons_link:not(:last-child) {
  margin-right: 50px;
}

body header .user {
  margin-left: 45px;
}

body header .user .user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

body .sidebar {
  line-height: 20px;
  margin-left: 32px;
}

body .sidebar .navigation .nav_menu {
  padding: 0;
  margin: 0 0 60px;
}

body .sidebar .navigation .nav_menu .nav_item {
  list-style: none;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sidebar .navigation .nav_menu .nav_item .nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #898989;
  fill: #898989;
}

body .sidebar .navigation .nav_menu .nav_item .nav_link:hover {
  color: #FF0000;
}

body .sidebar .navigation .nav_menu .nav_item .nav_link .nav_text .nav_images {
  margin-right: 20px;
}

body .sidebar .navigation .nav_menu .nav_item .setting_link {
  color: #C2C2C2;
  fill: #C2C2C2;
}

body .sidebar .navigation .nav_menu .nav_item .setting_link:hover {
  color: #000000;
}

body .sidebar .navigation .nav_menu .nav_item .icon:hover {
  color: #FF0000;
}

body .sidebar .navigation .nav_menu .nav_item .nav_images {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

body .sidebar .navigation .nav_menu .nav_item .nav_text {
  margin-left: 13px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_home {
  width: 20px;
  height: 19px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_tranding {
  width: 16px;
  height: 21px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_subscriptions {
  width: 18px;
  height: 18px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_library {
  width: 20px;
  height: 16px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_history {
  width: 20px;
  height: 18px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_watch {
  width: 17px;
  height: 19px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_favourites {
  width: 19px;
  height: 18px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_like {
  width: 18px;
  height: 17px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_music {
  width: 18px;
  height: 20px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_games {
  width: 22px;
  height: 16px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_showmore {
  width: 14px;
  height: 8px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_setting {
  width: 19px;
  height: 20px;
}
/*# sourceMappingURL=style.css.map */