@import url(e:\Git\youtube-concept\css\normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 70px 20px 32px;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 100;
}

body header .button {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
}

body header .button .menu-line {
  display: block;
  background: #1f2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}

body header .logo {
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: " ";
  display: block;
  height: 25px;
  width: 116px;
  margin-right: 59px;
}

body header .mobile_search {
  display: none;
}

body header .search {
  background: #ebebeb;
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 17px;
  max-width: 50vw;
  width: 50vw;
  margin-right: 20px;
}

body header .search #input_search {
  background: transparent;
  border: none;
  outline: none;
  padding: 12px 23px;
  line-height: 20px;
  width: 100%;
  font-family: Mulish;
}

body header .search .button_search {
  height: 19px;
  width: 19px;
  border: none;
  background: transparent;
  padding: 0px;
  cursor: pointer;
}

body header .search .button_search .icon_search {
  fill: #000;
}

body header .rightmenu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .rightmenu .icons_link {
  text-decoration: none;
  opacity: 0.24;
}

body header .rightmenu .icons_link:hover {
  opacity: 0.7;
}

body header .rightmenu .icons_link:not(:last-child) {
  margin-right: 50px;
}

body header .user {
  margin-left: 45px;
}

body header .user .user_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

body .sidebar {
  line-height: 20px;
  margin-left: 32px;
  position: fixed;
  top: 114px;
  height: calc(100% - 114px);
  overflow-y: auto;
  width: 200px;
  background-color: transparent;
}

body .sidebar .navigation .nav_menu {
  padding: 0;
  margin: 0 0 60px;
}

body .sidebar .navigation .nav_menu .nav_item {
  list-style: none;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .sidebar .navigation .nav_menu .nav_item .nav_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #898989;
  fill: #898989;
}

body .sidebar .navigation .nav_menu .nav_item .nav_link:hover {
  color: #ff0000;
}

body .sidebar .navigation .nav_menu .nav_item .nav_link .nav_text .nav_images {
  margin-right: 20px;
}

body .sidebar .navigation .nav_menu .nav_item .setting_link {
  color: #c2c2c2;
  fill: #c2c2c2;
}

body .sidebar .navigation .nav_menu .nav_item .setting_link:hover {
  color: #000000;
}

body .sidebar .navigation .nav_menu .nav_item .icon:hover {
  color: #ff0000;
}

body .sidebar .navigation .nav_menu .nav_item .nav_images {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

body .sidebar .navigation .nav_menu .nav_item .nav_text {
  margin-left: 13px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_home {
  width: 20px;
  height: 19px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_tranding {
  width: 16px;
  height: 21px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_subscriptions {
  width: 18px;
  height: 18px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_library {
  width: 20px;
  height: 16px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_history {
  width: 20px;
  height: 18px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_watch {
  width: 17px;
  height: 19px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_favourites {
  width: 19px;
  height: 18px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_like {
  width: 18px;
  height: 17px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_music {
  width: 18px;
  height: 20px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_games {
  width: 22px;
  height: 16px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_showmore {
  width: 14px;
  height: 8px;
}

body .sidebar .navigation .nav_menu .nav_item .icon_setting {
  width: 19px;
  height: 20px;
}

body .mobile_sidebar {
  display: none;
}

body .content {
  width: 80vw;
  height: 100%;
  margin-top: 85px;
  margin-left: 18vw;
  padding-top: 30px;
  overflow-x: hidden;
  padding-left: 50px;
}

body .content .subscriptions {
  position: relative;
}

body .content .subscriptions .sub_title {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #19202c;
  margin-bottom: 30px;
}

body .content .subscriptions .sub_title .channel {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

body .content .subscriptions .sub_title .title_text {
  margin-left: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
}

body .content .subscriptions .sub_title .slider_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 66px;
  top: 0px;
  right: 9%;
  position: absolute;
}

body .content .subscriptions .sub_title .slider_buttons .swiper_button {
  cursor: pointer;
  outline: none;
}

body .content .subscriptions .sub_slider {
  margin-bottom: 50px;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card {
  width: 250px;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card a {
  text-decoration: none;
  color: #000;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb {
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .thumbnail {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .videotime {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 3px 9px;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card .video_discription {
  color: #19202c;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  height: 100px;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card .video_discription h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 70%;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info .video_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info .video_counter .video_views {
  margin-right: 5px;
}

body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info .video_counter .video_views:after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

body .content .recomended {
  position: relative;
}

body .content .recomended .title_text {
  font-size: 26px;
  line-height: 33px;
}

body .content .recomended .slider_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 66px;
  top: 0px;
  right: 9%;
  position: absolute;
}

body .content .recomended .slider_buttons .swiper_button {
  cursor: pointer;
  outline: none;
}

body .content .recomended .rec_slider {
  margin-bottom: 50px;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card {
  width: 25vw;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card a {
  text-decoration: none;
  color: #000;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb {
  height: 250px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .thumbnail {
  width: 25vw;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .videotime {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 3px 9px;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card .video_discription {
  color: #19202c;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card .video_discription h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info .video_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info .video_counter .video_views {
  margin-right: 5px;
}

body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info .video_counter .video_views:after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

body .content .food_drink {
  position: relative;
}

body .content .food_drink .title_text {
  font-size: 26px;
  line-height: 33px;
}

body .content .food_drink .recomended_chanel {
  font-size: 16px;
  line-height: 20px;
  color: #C2C2C2;
  margin-left: 20px;
}

@media screen and (max-width: 1070px) {
  body .content .food_drink .recomended_chanel {
    font-size: 12px;
  }
}

body .content .food_drink .subscribe_button {
  position: absolute;
  top: -10px;
  right: 16vw;
  background: #FF0000;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
  width: 154px;
  height: 40px;
  padding: 10px 20px;
}

body .content .food_drink .slider_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 66px;
  top: 0px;
  right: 9%;
  position: absolute;
}

body .content .food_drink .slider_buttons .swiper_button {
  cursor: pointer;
  outline: none;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card {
  width: 250px;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card a {
  text-decoration: none;
  color: #000;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb {
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .thumbnail {
  width: 250px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .videotime {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  padding: 3px 9px;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card .video_discription {
  color: #19202c;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  height: 100px;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card .video_discription h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 70%;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info .video_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info .video_counter .video_views {
  margin-right: 5px;
}

body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info .video_counter .video_views:after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

@media (max-width: 860px) {
  body {
    overflow-x: hidden;
  }
  body header {
    background-color: #fff;
  }
  body header .button {
    display: none;
  }
  body header .user {
    margin-left: auto;
  }
  body header .rightmenu {
    display: none;
  }
  body .sidebar {
    display: none;
  }
  body .mobile_sidebar {
    display: block;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  body .mobile_sidebar .nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    border: 1px solid #F1F1F1;
  }
  body .mobile_sidebar .nav_menu .nav_item {
    list-style: none;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    color: #898989;
    fill: #898989;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link:hover {
    color: #ff0000;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon_home {
    width: 20px;
    height: 19px;
    margin: 0 12px;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon_tranding {
    width: 16px;
    height: 21px;
    margin: 0 24px;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon_subscriptions {
    width: 18px;
    height: 18px;
    margin: 0 40px;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon_library {
    width: 20px;
    height: 16px;
    margin: 0 16px;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon:hover {
    fill: #ff0000;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .nav_text {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content {
    margin-top: 5vh;
    padding-left: 15px;
    margin-left: 9vw;
    margin-bottom: 65px;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card {
    width: 76vw;
    height: auto;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb {
    height: 250px;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .thumbnail {
    height: 250px;
    width: 76vw;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info {
    bottom: 45px;
    width: 100%;
  }
  body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card {
    width: 76vw;
    height: auto;
  }
  body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb {
    height: 250px;
  }
  body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .thumbnail {
    height: 250px;
    width: 76vw;
  }
  body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info {
    bottom: 45px;
    width: 100%;
  }
  body .content .food_drink .subscribe_button {
    display: none;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card {
    width: 76vw;
    height: auto;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb {
    height: 250px;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .thumbnail {
    height: 250px;
    width: 76vw;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info {
    bottom: 45px;
    width: 100%;
  }
}

@media (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
  body header {
    background-color: #fff;
  }
  body header .button {
    display: none;
  }
  body header .user {
    margin-left: 20px;
  }
  body header .rightmenu {
    display: none;
  }
  body header .search {
    position: fixed;
    top: -100px;
    left: 0;
    opacity: 0;
    width: 67%;
    margin-left: 25px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body header .search.is_open {
    top: 20px;
    opacity: 1;
  }
  body header .mobile_search {
    display: block;
    margin-left: auto;
  }
  body header .mobile_search .button_search {
    height: 19px;
    width: 19px;
    border: none;
    background: transparent;
    padding: 0px;
    cursor: pointer;
    outline: none;
  }
  body header .mobile_search .button_search .icon_search {
    fill: #000;
  }
  body .sidebar {
    display: none;
  }
  body .mobile_sidebar {
    display: block;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  body .mobile_sidebar .nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    border: 1px solid #F1F1F1;
  }
  body .mobile_sidebar .nav_menu .nav_item {
    list-style: none;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-decoration: none;
    color: #898989;
    fill: #898989;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link:hover {
    color: #ff0000;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon_home {
    width: 20px;
    height: 19px;
    margin: 0 12px;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon_tranding {
    width: 16px;
    height: 21px;
    margin: 0 24px;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon_subscriptions {
    width: 18px;
    height: 18px;
    margin: 0 40px;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon_library {
    width: 20px;
    height: 16px;
    margin: 0 16px;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .icon:hover {
    fill: #ff0000;
  }
  body .mobile_sidebar .nav_menu .nav_item .nav_link .nav_text {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content {
    margin-top: 5vh;
    padding-left: 15px;
    margin-left: 9vw;
  }
  body .content .subscriptions .sub_title .slider_buttons {
    display: none;
  }
  body .content .subscriptions .sub_slider {
    margin-bottom: 20px;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide {
    margin-bottom: 40px;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card {
    width: 76vw;
    height: auto;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb {
    height: 250px;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .thumbnail {
    height: 250px;
    width: 76vw;
  }
  body .content .subscriptions .sub_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info {
    bottom: 45px;
    width: 100%;
  }
  body .content .recomended .slider_buttons {
    display: none;
  }
  body .content .recomended .rec_slider {
    margin-bottom: 20px;
  }
  body .content .recomended .rec_slider .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .content .recomended .rec_slider .swiper-wrapper .swiper-slide {
    margin-bottom: 40px;
  }
  body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card {
    width: 76vw;
    height: auto;
  }
  body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb {
    height: 250px;
  }
  body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .thumbnail {
    height: 250px;
    width: 76vw;
  }
  body .content .recomended .rec_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info {
    bottom: 45px;
    width: 100%;
  }
  body .content .food_drink .food_tittle .slider_buttons {
    display: none;
  }
  body .content .food_drink .subscribe_button {
    display: none;
  }
  body .content .food_drink .fooddrink_slider {
    margin-bottom: 20px;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide {
    margin-bottom: 40px;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card {
    width: 76vw;
    height: auto;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb {
    height: 250px;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card a .video_thumb .thumbnail {
    height: 250px;
    width: 76vw;
  }
  body .content .food_drink .fooddrink_slider .swiper-wrapper .swiper-slide .video_card .video_discription .video_info {
    bottom: 45px;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */