@import "../css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-y: auto;  
  overflow-x: hidden;
  margin: 0;
  header {
    display: flex;
    align-items: center;
    padding: 20px 70px 20px 32px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 100;
    .button {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #fff;
      width: 20px;
      height: 17px;
      border: none;
      margin-right: 28px;
      .menu-line {
        display: block;
        background: #1f2022;
        width: 20px;
        height: 3px;
        border-radius: 20px;
      }
    }
    .logo {
      background-image: url(../images/logo.svg);
      background-repeat: no-repeat;
      background-size: contain;
      content: " ";
      display: block;
      height: 25px;
      width: 116px;
      margin-right: 59px;
    }
    .mobile_search{
      display: none;
    }
    .search {
      background: #ebebeb;
      border-radius: 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 17px;
      max-width: 50vw;
      width: 50vw;
      margin-right: 20px;
      #input_search {
        background: transparent;
        border: none;
        outline: none;
        padding: 12px 23px;
        line-height: 20px;
        width: 100%;
        font-family: Mulish;
      }
      .button_search {
        height: 19px;
        width: 19px;
        border: none;
        background: transparent;
        padding: 0px;
        cursor: pointer;
        .icon_search {
          fill: #000;
        }
      }
    }
    .rightmenu {
      margin-left: auto;
      display: flex;
      .icons_link {
        text-decoration: none;
        opacity: 0.24;
        &:hover {
          opacity: 0.7;
        }
        &:not(:last-child) {
          margin-right: 50px;
        }
      }
    }
    .user {
      margin-left: 45px;
      .user_avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
  .sidebar {
    line-height: 20px;
    margin-left: 32px;
    position: fixed;
    top: 114px;
    height: calc(100% - 114px);
    overflow-y: auto;
    width: 200px;
    background-color: transparent;
    .navigation {
      .nav_menu {
        padding: 0;
        margin: 0 0 60px;
        .nav_item {
          list-style: none;
          margin-bottom: 28px;
          display: flex;
          align-items: center;
          .nav_link {
            display: flex;
            text-decoration: none;
            color: #898989;
            fill: #898989;
            &:hover {
              color: #ff0000;
            }
            .nav_text {
              .nav_images {
                margin-right: 20px;
              }
            }
          }
          .setting_link {
            color: #c2c2c2;
            fill: #c2c2c2;
            &:hover {
              color: #000000;
            }
          }
          .icon:hover {
            color: #ff0000;
          }
          .nav_images {
            width: 26px;
            height: 26px;
            border-radius: 50%;
          }
          .nav_text {
            margin-left: 13px;
          }
          .icon_home {
            width: 20px;
            height: 19px;
          }
          .icon_tranding {
            width: 16px;
            height: 21px;
          }
          .icon_subscriptions {
            width: 18px;
            height: 18px;
          }
          .icon_library {
            width: 20px;
            height: 16px;
          }
          .icon_history {
            width: 20px;
            height: 18px;
          }
          .icon_watch {
            width: 17px;
            height: 19px;
          }
          .icon_favourites {
            width: 19px;
            height: 18px;
          }
          .icon_like {
            width: 18px;
            height: 17px;
          }
          .icon_music {
            width: 18px;
            height: 20px;
          }
          .icon_games {
            width: 22px;
            height: 16px;
          }
          .icon_showmore {
            width: 14px;
            height: 8px;
          }
          .icon_setting {
            width: 19px;
            height: 20px;
          }
        }
      }
    }
  }
  .mobile_sidebar{
    display: none;
  }
  .content {
    width: 80vw;
    height: 100%;
    margin-top: 85px;
    margin-left: 18vw;
    padding-top: 30px;
    overflow-x: hidden;
    padding-left: 50px;
    .subscriptions {
      position: relative;
      .sub_title {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #19202c;
        margin-bottom: 30px;
        .channel {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        .title_text {
          margin-left: 20px;
          font-weight: 700;
          font-size: 26px;
          line-height: 33px;
        }
        .slider_buttons{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 66px;
          top: 0px;
          right: 9%;
          position: absolute;
        .swiper_button{
          cursor: pointer;
          outline:none;
        }
      }
    }
      .sub_slider { 
        margin-bottom: 50px;
        .swiper-wrapper {
          .swiper-slide {
            .video_card {
              width: 250px;
              a{
                  text-decoration: none;
                  color: #000;
              .video_thumb {
                height: 150px;
                overflow: hidden;
                border-radius: 14px;
                position: relative;
                .thumbnail {
                  height: 150px;
                  object-fit: cover;
                }
                .videotime {
                  position: absolute;
                  bottom: 10px;
                  right: 10px;
                  background: rgba($color: #000000, $alpha: 0.3);
                  border-radius: 12px;
                  font-size: 14px;
                  color: #ffffff;
                  text-align: center;
                  padding: 3px 9px;
                }
              }
              
            }
            .video_discription {
              color: #19202c;
              font-size: 16px;
              line-height: 20px;
              text-align: center;
              height: 100px;
              h3{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
              .video_info {
                align-items: center;
                justify-content: space-between;
                font-size: 13px;
                line-height: 16px;
                color: #c2c2c2;
                bottom: 15px;
                display: flex;
                left: 0;
                margin: 0 auto;
                padding: 0;
                position: absolute;
                text-align: center;
                width: 70%;
                .video_counter{
                    display: flex;
                    .video_views{
                        margin-right: 5px;
                    }
                    .video_views:after{
                        content: '';
                        width: 2px;
                        height: 2px;
                        background-color: #c2c2c2;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }
              }
            }
          }
          }
        }
      }
    }
    .recomended{
      position: relative;
      .title_text{
        font-size: 26px;
        line-height: 33px;
      }
      .slider_buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 66px;
        top: 0px;
        right: 9%;
        position: absolute;
      .swiper_button{
        cursor: pointer;
        outline:none;
      }
    }
      .rec_slider{
        margin-bottom: 50px;
        .swiper-wrapper {
          .swiper-slide {
            .video_card {
              width: 25vw;
                a{
                  text-decoration: none;
                  color: #000;
              .video_thumb {
                height: 250px;
                overflow: hidden;
                border-radius: 14px;
                position: relative;
                .thumbnail {
                  width: 25vw;
                  height: 250px;
                  object-fit: cover;
                }
                .videotime {
                  position: absolute;
                  bottom: 10px;
                  right: 10px;
                  background: rgba($color: #000000, $alpha: 0.3);
                  border-radius: 12px;
                  font-size: 14px;
                  color: #ffffff;
                  text-align: center;
                  padding: 3px 9px;
                }
              }
              
            }
            .video_discription {
              color: #19202c;
              font-size: 16px;
              line-height: 20px;
              text-align: center;
              h3{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
              .video_info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 13px;
                line-height: 16px;
                color: #c2c2c2;
                .video_counter{
                    display: flex;
                    .video_views{
                        margin-right: 5px;
                    }
                    .video_views:after{
                        content: '';
                        width: 2px;
                        height: 2px;
                        background-color: #c2c2c2;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }
              }
            }
          }
          }
        }
      }
    }
    .food_drink{
      position: relative;
      .title_text{
        font-size: 26px;
        line-height: 33px;
      }
      .recomended_chanel{
        font-size: 16px;
        line-height: 20px;
        color: #C2C2C2;
        margin-left: 20px;
        @media screen and (max-width: 1070px) {
          font-size: 12px;
        }
      }
      .subscribe_button{
        position: absolute;
        top: -10px;
        right: 16vw;  
        background: #FF0000;
        border-radius: 20px;
        color: #ffffff;
        text-align: center;
        width: 154px;
        height: 40px;
        padding: 10px 20px;   
      }
      .slider_buttons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 66px;
        top: 0px;
        right: 9%;
        position: absolute;
      .swiper_button{
        cursor: pointer;
        outline:none;
      }
    }
      .fooddrink_slider{
        .swiper-wrapper {
          .swiper-slide {
            .video_card {
              width: 250px;
              a{
                  text-decoration: none;
                  color: #000;
              .video_thumb {
                height: 150px;
                overflow: hidden;
                border-radius: 14px;
                position: relative;
                .thumbnail {
                  width: 250px;
                  height: 150px;
                  object-fit: cover;
                }
                .videotime {
                  position: absolute;
                  bottom: 10px;
                  right: 10px;
                  background: rgba($color: #000000, $alpha: 0.3);
                  border-radius: 12px;
                  font-size: 14px;
                  color: #ffffff;
                  text-align: center;
                  padding: 3px 9px;
                }
              }              
            }
            .video_discription {
              color: #19202c;
              font-size: 16px;
              line-height: 20px;
              text-align: center;
              height: 100px;
              h3{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
              .video_info {
                align-items: center;
                justify-content: space-between;
                font-size: 13px;
                line-height: 16px;
                color: #c2c2c2;
                bottom: 15px;
                display: flex;
                left: 0;
                margin: 0 auto;
                padding: 0;
                position: absolute;
                text-align: center;
                width: 70%;
                .video_counter{
                    display: flex;
                    .video_views{
                        margin-right: 5px;
                    }
                    .video_views:after{
                        content: '';
                        width: 2px;
                        height: 2px;
                        background-color: #c2c2c2;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                }
              }
            }
          }
          }
        }
      }
    }
  }
}
@media (max-width: 860px) {
  body{
    overflow-x: hidden;
    header{
      background-color: #fff;
    .button{
    display: none;
  }
  .user{
    margin-left: auto;
  }
  .rightmenu{
    display: none;
  }
  .search{
    display: none;
  }
  .mobile_search{
    display: block;
  }
    }
    .sidebar{
      display: none;
    }
    .mobile_sidebar{
      display: block;
      position: fixed;
      z-index: 100;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      .nav_menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 12px 0;
        text-align: center;
        border: 1px solid #F1F1F1;;
          .nav_item {
            list-style: none;
            .nav_link{
              display: flex;
              flex-direction: column;
              text-decoration: none;
              color: #898989;
              fill: #898989;
              &:hover {
                color: #ff0000;
              }
              .icon_home{
                width: 20px;
                height: 19px;
               margin: 0 12px;
              }
              .icon_tranding{
                width: 16px;
                height: 21px;
               margin: 0 24px;
              }
              .icon_subscriptions{
                width: 18px;
                height: 18px;
                margin: 0 40px;
              }
              .icon_library{
                width: 20px;
                height: 16px;
                margin: 0 16px;
                         }
                         .icon:hover {
                          fill: #ff0000;
                        }
              .nav_text{
                margin-left: 0;
                display: flex;
                align-items: center;
              }
            }
        }
      }
    }
    .content{
    margin-top: 5vh;
    padding-left: 15px;
    margin-left: 9vw;
      .subscriptions{
        .sub_slider{
          .swiper-wrapper{
            .swiper-slide{
              .video_card{
                width: 76vw;
                height: auto;
               a{
                .video_thumb{
                  height: 250px;
                  .thumbnail {
                    height: 250px;
                    width: 76vw;
                }
                }
               }
               
                 .video_discription{
                   .video_info{
                    bottom: 45px;
                    width: 100%;                  
                   }
               }  
              }
            }
          }
        }
      }
      .recomended{
        .rec_slider{
          .swiper-wrapper{
            .swiper-slide{
              .video_card{
                width: 76vw;
                height: auto;
               a{
                .video_thumb{
                  height: 250px;
                  .thumbnail {
                    height: 250px;
                    width: 76vw;
                }
                }
               }
               
                 .video_discription{
                   .video_info{
                    bottom: 45px;
                    width: 100%;                  
                   }
               }  
              }
            }
          }
        }
      }
      .food_drink{
        .subscribe_button{
          display: none; 
        }
        .fooddrink_slider{
          .swiper-wrapper{
            .swiper-slide{
              .video_card{
                width: 76vw;
                height: auto;
               a{
                .video_thumb{
                  height: 250px;
                  .thumbnail {
                    height: 250px;
                    width: 76vw;
                }
                }
               }
               
                 .video_discription{
                   .video_info{
                    bottom: 45px;
                    width: 100%;                  
                   }
               }  
              }
            }
          }
        }
      }    
    }
}
}
@media (max-width: 630px) {
  body{
    overflow-x: hidden;
    header{
      background-color: #fff;
    .button{
    display: none;
  }
  .user{
    margin-left: auto;
  }
  .rightmenu{
    display: none;
  }
  .search{
    display: none;
  }
  .mobile_search{
    display: block;
  }
    }
    .sidebar{
      display: none;
    }
    .mobile_sidebar{
      display: block;
      position: fixed;
      z-index: 100;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      .nav_menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 12px 0;
        text-align: center;
        border: 1px solid #F1F1F1;;
          .nav_item {
            list-style: none;
            .nav_link{
              display: flex;
              flex-direction: column;
              text-decoration: none;
              color: #898989;
              fill: #898989;
              &:hover {
                color: #ff0000;
              }
              .icon_home{
                width: 20px;
                height: 19px;
               margin: 0 12px;
              }
              .icon_tranding{
                width: 16px;
                height: 21px;
               margin: 0 24px;
              }
              .icon_subscriptions{
                width: 18px;
                height: 18px;
                margin: 0 40px;
              }
              .icon_library{
                width: 20px;
                height: 16px;
                margin: 0 16px;
                         }
                         .icon:hover {
                          fill: #ff0000;
                        }
              .nav_text{
                margin-left: 0;
                display: flex;
                align-items: center;
              }
            }
        }
      }
    }
    .content{
    margin-top: 5vh;
    padding-left: 15px;
    margin-left: 9vw;
      .subscriptions{
        .sub_slider{
          .swiper-wrapper{
            .swiper-slide{
              .video_card{
                width: 76vw;
                height: auto;
               a{
                .video_thumb{
                  height: 250px;
                  .thumbnail {
                    height: 250px;
                    width: 76vw;
                }
                }
               }
               
                 .video_discription{
                   .video_info{
                    bottom: 45px;
                    width: 100%;                  
                   }
               }  
              }
            }
          }
        }
      }
      .recomended{
        .rec_slider{
          .swiper-wrapper{
            .swiper-slide{
              .video_card{
                width: 76vw;
                height: auto;
               a{
                .video_thumb{
                  height: 250px;
                  .thumbnail {
                    height: 250px;
                    width: 76vw;
                }
                }
               }
               
                 .video_discription{
                   .video_info{
                    bottom: 45px;
                    width: 100%;                  
                   }
               }  
              }
            }
          }
        }
      }
      .food_drink{
        .subscribe_button{
          display: none; 
        }
        .fooddrink_slider{
          .swiper-wrapper{
            .swiper-slide{
              .video_card{
                width: 76vw;
                height: auto;
               a{
                .video_thumb{
                  height: 250px;
                  .thumbnail {
                    height: 250px;
                    width: 76vw;
                }
                }
               }
               
                 .video_discription{
                   .video_info{
                    bottom: 45px;
                    width: 100%;                  
                   }
               }  
              }
            }
          }
        }
      }    
    }
}
}